.login {
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:  auto;
}

    .login p {
        font-size: 30px;
    }

.loginButton {
    margin: 30px;
    background-color: #333;
}


