.newUser {
    width: fit-content;
    height: auto;
    padding: 20px;
    border: outset;
    border-radius: 12px;
    border-color: black;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 60px auto;
}

.newUser{
    margin:auto;
    flex-direction: column;

}