
.journalEntryView {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.journalEntryViewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postHeader {
    text-align: center;
}

.title {
    font-size: 1.5rem;
    margin: 10px 0;
}

.postTextContainer {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
}

h3 {
    font-size: 1rem;
    color: #333;
    margin: 10px 0;
}

/* Add responsive styles for mobile */
@media (max-width: 767px) {
    .title {
        font-size: 1.2rem;
    }

    .postTextContainer {
        font-size: 0.9rem;
    }

    h3 {
        font-size: 1rem;
    }
}
