.journalEntryCreation {
  width: 100%;
  height: calc(100vh - 80px);
  display: grid;
  place-items: center;
}

.journalEntryContainer {
    width: 500px;
    height: auto;
    padding: 20px;
   
    border: outset;
    border-radius: 12px;
    border-color: black;
    color: black;
    display: flex;
    flex-direction: column;
}

.journalEntryContainer h1 {
  text-align: center;
}

.journalEntryContainer label {
  font-size: 25px;
}
.journalEntryContainer .entryInput {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.entryInput input,
.entryInput textarea {
  font-size: 18px;
  border: inset;
  border-radius: 2px;
  padding: 5px;
}

.entryInput input {
  height: 40px;
}
.entryInput textarea {
  height: 150px;
}
.visabilitySwitch {
    justify-content: flex-end;
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border: outset;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
.journalEntryContainer button {
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border: outset;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    justify-content: flex-start;
}


input,
textarea {
  margin-top: 5px;
}
