/* communitySearchBar.css */

.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

#search-icon {
    margin-right: 5px;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
    flex: 1;
}
