
.communityArticleContainer {
    width: 80vw; 
    height: 60vh; 
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.articleItem {
    text-decoration: none;
   
}

    .articleItem:hover {
        cursor: pointer;
    }

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

    .pagination button {
        margin: 0 50px;
       
    }
