
.header{
    margin-top: 20px;
}

.headerImage {
    min-width:350px;
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}