.homeArticleContainer {
    margin: 20px;
}

.articleItem {
    box-shadow: #414141 1px 1px 1px 1px;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 8px;
}


    .articleItem:hover {
        background-color: #e0e0e0;
        cursor:pointer;
    }


.pageContainer {
    width: 80vw;
    height: 60vh; 
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 
}

    .pagination button {
        margin: 0 50px;
    }

    a {
        text-decoration:none;
    }