.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.resource-button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 8px;
    width: 60%;
    text-align: center;
    cursor: pointer;
    min-width:60%;
}

    .resource-button:hover {
        background-color: #e0e0e0;
    }

@media (max-width: 768px) {
    .buttons-container {
        flex-direction: column;
        align-items: center;
    }

    .resource-button {
        width: 60vh;
    }
}

