.top {
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    display: flex;
}

.topCenter {
    flex: auto;
    margin:auto;
}

.userInfo {
    display: flex; 
    align-items: center; 
    padding: 10px; 
}

.userBannerImage {
    width: 50px;
    height: 50px;
    margin-right: 15px; 
}

.userInfoUsername {
    font-size: 24px;
}

.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight:300;
    cursor: pointer;
}

