.wordcloud-container {
    width: 100%;
    max-width: 800px; /* Set maximum width as per your design */
    height: 300px;
    margin: 0 auto; /* Center the word cloud */
}

.cloud-mask {
    width: 100%;
    height: 100%;
    clip-path: url("");
}
