.wordcloud-container {
    position: relative;
    width: 85%;
    max-width: auto;
    height: 300px;
    margin: 45px;
}

.circle-mask {
    width: 100%;
    height: 100%;
    clip-path: url('cloud.svg');
    overflow: hidden;
}


